<div>
  <button (click)="showOptions = !showOptions">Show Options</button>
  <div *ngIf="showOptions" class="options">
    <button (click)="loadDefaults()">Load Default Heroes</button>
    <button (click)="clearHeroes()">Clear Heroes</button>
  </div>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
