/*
Error: The line was indented 2 levels deeper than the previous line.
        on line 27 of heroes.component.sass

22:   float:  left
23:   width:  120px
24:   height: 120px
25: 
26: figure
27:     display: inline-block
28:     border: 1px dotted gray
29:     margin: 20px
30: 
31: figure img
32:   vertical-align: top

Backtrace:
heroes.component.sass:27
/Users/Omatic/.rvm/gems/ruby-2.2-head/gems/sass-3.4.13/lib/sass/engine.rb:509:in `tree'
/Users/Omatic/.rvm/gems/ruby-2.2-head/gems/sass-3.4.13/lib/sass/engine.rb:396:in `_to_tree'
/Users/Omatic/.rvm/gems/ruby-2.2-head/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Omatic/.rvm/gems/ruby-2.2-head/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Omatic/.rvm/gems/ruby-2.2-head/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:407:in `run'
/Users/Omatic/.rvm/gems/ruby-2.2-head/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/Omatic/.rvm/gems/ruby-2.2-head/gems/sass-3.4.13/lib/sass/exec/base.rb:52:in `parse'
/Users/Omatic/.rvm/gems/ruby-2.2-head/gems/sass-3.4.13/lib/sass/exec/base.rb:19:in `parse!'
/Users/Omatic/.rvm/gems/ruby-2.2-head/gems/sass-3.4.13/bin/sass:13:in `<top (required)>'
/Users/Omatic/.rvm/gems/ruby-2.2-head/bin/sass:22:in `load'
/Users/Omatic/.rvm/gems/ruby-2.2-head/bin/sass:22:in `<main>'
/Users/Omatic/.rvm/gems/ruby-2.2-head/bin/ruby_executable_hooks:15:in `eval'
/Users/Omatic/.rvm/gems/ruby-2.2-head/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 2 levels deeper than the previous line.\A         on line 27 of heroes.component.sass\A \A 22:   float:  left\A 23:   width:  120px\A 24:   height: 120px\A 25: \A 26: figure\A 27:     display: inline-block\A 28:     border: 1px dotted gray\A 29:     margin: 20px\A 30: \A 31: figure img\A 32:   vertical-align: top"; }
