<h2>Hero Selection</h2>

<div class="options">
  <button (click)="loadDefaults()">Reset Heroes</button>
</div>
<div class="half-screen">
<ul class="heroes"  style="list-style: none">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
    <div class="hero-slot">
      <figure [class.selected]="hero === selectedHero">
        <div class="{{hero.type | lowercase}}"></div>
        <figcaption style="align-content: center">{{hero.name}}</figcaption>
      </figure>
    </div>
  </li>
</ul>
</div>
<div class="half-screen">
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
</div>
